<div class="container">
        <p-card header="Simple Card">
            <p-select 
             [options]="status" 
             [(ngModel)]="selectedStatus" 
             optionLabel="name" 
             placeholder="Select a Status" 
             class="w-full md:w-56 my-4" 
             (onChange)="selectedStatus ? filterTask(selectedStatus.code) : null"
             />

            <ul>
                <li *ngFor="let item of filteredItems">
                    <p-checkbox (click)="toggleTaskStutus(item)" [binary]="true" class="mx-2" />
                    <p [ngStyle]="{'text-decoration-line': item.status === 'Completed' ? 'line-through' : 'none'}">
                        {{ item.title }} - {{ item.status }}
                      </p>
                    <hr />
                </li>
            </ul>
            
        </p-card>
</div>